* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2f3640;
    padding: 16px 0;
    color: whitesmoke;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 8px;
}

header li  a {
    color: skyblue;
    text-decoration: none;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.container section h2, .artigos{
    margin-left: 8px;
    margin-right: 8px;
}

.artigos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.artigos article {
    width: 30%;
}

.artigos img {
    height: 280px;
    width: 100%;
}

section {
    padding: 16px 0;
}

section h2, .artigos article {
    margin-bottom: 16px;
}

.artigos article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.artigos article a {
    color: whitesmoke;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
}

.artigos article a:hover {
    text-decoration: underline;
}

.artigos article p, a {
    font-family: Arial, Helvetica, sans-serif;
}

.artigos article h3 {
    font-size: 24px;
}

section h2 {
    font-size: 32px;
}

#sports {
    background-color: rgba(0, 255, 0, 0.1);
}

#sports a {
    background-color: green;
}

#economy {
    background-color: wheat;
}

#economy a {
    background-color: orange;
}

#entertainment {
    background-color: skyblue;
}

#entertainment a {
    background-color: darkblue;
}

#tech {
    background-color: lightgrey;
}

#tech a {
    background-color: darkslategray;
}