@mixin reset() {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Roboto, sans-serif;
    }
}

$bg_color: #f5f6fa;
$el_color1: #182C61;
$el_color2: #44bd32;

$font_main: Roboto, sans-serif;

$mobile_scr: 767px;
$tablet_scr: 1023px;